@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 34deg, 73%, 10%;
    --background: 264deg, 100%, 90%;
    --primary: 265deg, 95%, 57%;
    --secondary: 34deg, 96%, 52%;
    --accent: 135deg, 73%, 49%;
		--link-blue: 220deg, 80%, 50%;

    --daytime: 39deg, 100%, 50%;
    --nighttime: 51deg, 91%, 4%;
    --sun: 310deg, 100%, 50%;
    --summer: 55deg, 100%, 50%;
    --autumn: 25deg, 85%, 50%;
    --winter: 200deg, 80%, 65%;
    --spring: 130deg, 70%, 55%;
    --year-progress: 127deg, 100%, 18%;

    scroll-behavior: smooth;
    scrollbar-color: theme("colors.background/25%") theme("colors.background/5%");  
  }
	html[data-theme="dark"],
	html.dark {
		--foreground: 34deg, 73%, 90%;
    --background: 264deg, 100%, 1%;
    --primary: 265deg, 95%, 43%;
    --secondary: 34deg, 96%, 48%;
    --accent: 135deg, 73%, 51%;
		--link-blue: 220deg, 80%, 50%;
    
    --daytime: 39deg, 100%, 50%;
    --nighttime: 51deg, 91%, 4%;
    
    scrollbar-color: theme("colors.foreground/25%") theme("colors.background/95%");
  }
}

::selection {
  background: theme("colors.foreground/25%");
	color: theme("colors.foreground") !important;
	text-shadow: none !important;
  filter: none !important;
  -webkit-filter: none !important;
  shadow: none !important;
  outline: none !important;
}

input::selection {
  background: theme("colors.accent");
  color: theme("colors.black");
}
